[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "*"
numpy = "*"
requests = "*"
python-dotenv = "*"
redis = "*"
docker = "*"
pandas = "*"
fhirpy = "*"
pika = "*"
pendulum = "*"
loguru = "*"
pypiwin32 = {version = "*", sys_platform = "== 'win32'"}
pywin32 = {version = "*", sys_platform = "== 'win32'"}
hvac = "*"
fhir-kindling = "*"
xmltodict = "*"
requests_oauthlib = "*"
oauthlib = "*"
padding = "*"

[dev-packages]
pytest = "*"
coverage = "*"
tox = "*"
mkdocs = "*"
mkdocs-material = "*"
twine = "*"
bump2version = "*"
pipenv-setup = "*"
build = "*"

[requires]
python_version = "3.9"
