[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "*"
numpy = "*"
requests = "*"
python-dotenv = "*"
redis = "*"
docker = "*"
pandas = "*"
fhirpy = "*"
pika = "*"
httpx = "*"
pendulum = "*"
loguru = "*"
aiohttp = ">=3.7.4"
pypiwin32 = {version = "*", sys_platform = "== 'win32'"}
pywin32 = {version = "*", sys_platform = "== 'win32'"}

[dev-packages]

[requires]
python_version = "3.9"
